{% extends "employees_users.html" %}
{% block employees %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
    <h5>Add new employee</h5>
    <form action="{% url "add-employee" %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add" class="btn btn-primary" role="button"><br><br>
    </form>
{% endblock %}