{% extends 'index.html' %}
{% load static%}
{% block body %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}

    <h2>List of travels starting over next 14 days</h2><br>
    <button name="searchButton" onclick="hideFunction()">Search</button><br><br>

    <form id="searchForm" action="{% url "search-for-travel-14-days" %}" method="post" class="not_visible">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Get results" class="btn btn-primary" role="button"><br><br>
    </form>

    {% if messages %}
        <script>alert("Dates range conflict! 'Travel date from' has to be earlier than 'Travel date to'. Select correct dates. ")</script>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <table id="current_table" class="table table-bordered table-sm table-striped m-10px table-hover">

        <tr>
            <th onclick="sortTable(0)">Trip</td>
            <th onclick="sortTable(1)">Employee</td>
            <th onclick="sortTable(2)">Travel date start</td>
            <th onclick="sortTable(3)">City from</td>
            <th onclick="sortTable(4)">City to</td>
            <th onclick="sortTable(5)">Travel purpose</td>
            <th onclick="sortTable(6)">Employee approval</td>
            <th onclick="sortTable(7)">Supervisor approval</td>
            <th onclick="sortTable(8)">Info</td>


        </tr>

        {% for travel_detail in travel_details %}
            <tr>
                <td>{{ travel_detail.id }}</td>
                <td>{{ travel_detail.employee }}</td>
                <td>{{ travel_detail.travel_date_start }}</td>
                <td>{{ travel_detail.city_from }}</td>
                <td>{{ travel_detail.city_destination }}</td>
                <td>{{ travel_detail.travel_purpose_description }}</td>
                <td>{{ travel_detail.employee_approval }}</td>
                <td>{{ travel_detail.supervisor_approval }}</td>
                <td><a href="/booking_details/{{ travel_detail.id }}/" class="btn btn-info" role="button">Info</a></td>

            </tr>
        {% endfor %}
    </table>

    {% if travel_details.has_other_pages %}
        <ul class="pagination">
            {% if travel_details.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First page &emsp;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ travel_details.previous_page_number }}">Previous &emsp;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ travel_details.number }} of {{ travel_details.paginator.num_pages }}&emsp;
                </span>
            {% if travel_details.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ travel_details.next_page_number }}"> Next &emsp;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ travel_details.paginator.num_pages }}">Last page &raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}