{% extends 'index.html' %}
{% block body %}

    <h2>List of travels starting over next 14 days</h2><br>
    <table class="table table-bordered table-sm table-striped m-10px table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Employee</td>
            <td>Travel date start</td>
            <td>City from</td>
            <td>Country destination</td>
            <td>Travel purpose</td>
            <td>Employee approval</td>
            <td>Supervisor approval</td>
            <td>Info</td>
            <td>Edit</td>
            <td>Delete</td>

        </tr>
        </thead>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.employee }}</td>
                <td>{{ booking.travel_date_start }}</td>
                <td>{{ booking.city_from }}</td>
                <td>{{ booking.country_destination }}</td>
                <td>{{ booking.emptravel_purpose_descriptionloyee }}</td>
                <td>{{ booking.employee_approval }}</td>
                <td>{{ booking.supervisor_approval }}</td>
                <td><a href="/booking_details/{{ booking.id }}/" class="btn btn-info" role="button">Info</a></td>
                <td><a href="/edit_booking/{{ booking.id }}/" class="btn btn-warning" role="button">Update</a></td>
                <td><a href="/booking_delete/{{ booking.id }}/" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if bookings.has_other_pages %}
        <ul class="pagination">
            {% if bookings.has_previous %}
                <a href="?page=1">&laquo; First page &emsp;</a>
                <a href="?page={{ bookings.previous_page_number }}">Previous &emsp;</a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ bookings.number }} of {{ bookings.paginator.num_pages }}&emsp;
                </span>
            {% if employees.has_next %}
                <a href="?page={{ bookings.next_page_number }}"> Next &emsp;</a>
                <a href="?page={{ bookings.paginator.num_pages }}">Last page &raquo;</a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}