{% extends 'index.html' %}
{% block body %}

    <h2>List of travels starting over next 14 days</h2><br>
    <table class="table table-bordered table-sm table-striped m-10px table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Employee</td>
            <td>Travel date start</td>
            <td>City from</td>
            <td>City to</td>
            <td>Travel purpose</td>
            <td>Employee approval</td>
            <td>Supervisor approval</td>
            <td>Ticket Id</td>
            <td>Info</td>


        </tr>
        </thead>
        {% for travel_detail in travel_details %}
            <tr>
                <td>{{ travel_detail.id }}</td>
                <td>{{ travel_detail.employee }}</td>
                <td>{{ travel_detail.travel_date_start }}</td>
                <td>{{ travel_detail.city_from }}</td>
                <td>{{ travel_detail.city_destination }}</td>
                <td>{{ travel_detail.travel_purpose_description }}</td>
                <td>{{ travel_detail.employee_approval }}</td>
                <td>{{ travel_detail.supervisor_approval }}</td>
                <td>{{ ticket_details.id }}</td>
                <td><a href="/booking_details/{{ travel_details.id }}/" class="btn btn-info" role="button">Info</a></td>

            </tr>
        {% endfor %}
    </table>

    {% if travel_details.has_other_pages %}
        <ul class="pagination">
            {% if travel_details.has_previous %}
                <a href="?page=1">&laquo; First page &emsp;</a>
                <a href="?page={{ travel_details.previous_page_number }}">Previous &emsp;</a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ travel_details.number }} of {{ travel_details.paginator.num_pages }}&emsp;
                </span>
            {% if travel_details.has_next %}
                <a href="?page={{ travel_details.next_page_number }}"> Next &emsp;</a>
                <a href="?page={{ travel_details.paginator.num_pages }}">Last page &raquo;</a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}