{% extends "locations.html" %}
{% block city %}   <br><br>

    <h2>List of all cities </h2><br>
        <table class="table table-bordered table-sm table-striped m-10px table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Country</td>
            <td>Delete</td>
        </tr>
        </thead>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.country }}</td>
                <td><a href="/city_delete/{{ city.id }}/" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if cities.has_other_pages %}
        <ul class="pagination">
            {% if cities.has_previous %}
                <a href="?page=1">&laquo; First page &emsp;</a>
                <a href="?page={{ cities.previous_page_number }}">Previous &emsp;</a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ cities.number }} of {{ cities.paginator.num_pages }}&emsp;
                </span>
            {% if cities.has_next %}
                <a href="?page={{ cities.next_page_number }}"> Next &emsp;</a>
                <a href="?page={{ cities.paginator.num_pages }}">Last page &raquo;</a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}