{% extends "employees_users.html" %}
{% load static%}
{% block search %}
    <h2>List of all employees </h2><br>
    <button name="searchButton" onclick="hideFunction()">Search</button><br><br>

    <form id="searchForm" action="{% url "list-employee" %}" method="post" class="not_visible">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Get results" class="btn btn-primary" role="button"><br><br>
    </form>
{% endblock %}
{% block employees %}
    <table id="current_table" class="table table-bordered table-sm table-striped m-10px table-hover">

        <tr>
            <th onclick="sortTable(0)">Id</th>
            <th onclick="sortTable(1)">Forename</th>
            <th onclick="sortTable(2)">Surname</th>
            <th onclick="sortTable(3)">Passport no</th>
            <th onclick="sortTable(4)">Passport validity</th>
            <th onclick="sortTable(5)">Birthday</th>
            <th onclick="sortTable(6)">Nationality</th>
            <th onclick="sortTable(7)">Residence country</th>
            <th onclick="sortTable(8)">Residence city</th>
            <th onclick="sortTable(9)">Address</th>
            <th onclick="sortTable(10)">Phone</th>
            <th onclick="sortTable(11)">Email</th>
            <th onclick="sortTable(12)">Username</th>
            <th onclick="sortTable(13)">Edit</th>
            <th onclick="sortTable(14)">Delete</th>
        </tr>

        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.forename }}</td>
                <td>{{ employee.surname }}</td>
                <td>{{ employee.passportno }}</td>
                <td>{{ employee.passport_validity }}</td>
                <td>{{ employee.birthday }}</td>
                <td>{{ employee.nationality }}</td>
                <td>{{ employee.residence_country }}</td>
                <td>{{ employee.residence_city }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.user }}</td>
                <td><a href="/update_employee/{{ employee.id }}/" class="btn btn-info" role="button">Update</a></td>
                <td><a href="/delete_employee/{{ employee.id }}/" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br><br>

    {% if employees.has_other_pages %}
        <ul class="pagination">
            {% if employees.has_previous %}
                <a href="?page=1">&laquo; First page &emsp;</a>
                <a href="?page={{ employees.previous_page_number }}">Previous &emsp;</a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ employees.number }} of {{ employees.paginator.num_pages }}&emsp;
                </span>
            {% if employees.has_next %}
                <a href="?page={{ employees.next_page_number }}"> Next &emsp;</a>
                <a href="?page={{ employees.paginator.num_pages }}">Last page &raquo;</a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

    <script src="{% static 'js/travel_planner.js' %}"></script>

{% endblock %}