{% extends "index_employee.html" %}
{% block body_employee %}   <br><br>

    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}

    <h2>List of {{ employee_logged }} previous travels </h2><br>
    <table id="current_table"  class="table table-bordered table-sm table-striped m-10px table-hover">

        <tr>
            <th onclick="sortTable(0)">Id</th>
            <th onclick="sortTable(1)">Employee</th>
            <th onclick="sortTable(2)">Travel date start</th>
            <th onclick="sortTable(3)">City from</th>
            <th onclick="sortTable(4)">Country destination</th>
            <th onclick="sortTable(5)">Travel purpose</th>
            <th onclick="sortTable(6)">Employee approval</th>
            <th onclick="sortTable(7)">Supervisor approval</th>
            <th onclick="sortTable(8)">Details</th>
        </tr>
        {% for travel in travels %}
            <tr>
                <td>{{ travel.id }}</td>
                <td>{{ travel.employee }}</td>
                <td>{{ travel.travel_date_start }}</td>
                <td>{{ travel.city_from }}</td>
                <td>{{ travel.country_destination }}</td>
                <td>{{ travel.travel_purpose_description }}</td>
                <td>{% if travel.employee_approval == True %}
                    Accepted
                {% elif travel.employee_approval == False %}
                    Rejected
                {% elif travel.employee_approval == None %}
                    No decision yet
                {% endif %}</td>
                <td>{% if travel.supervisor_approval == True %}
                    Accepted
                {% elif travel.supervisor_approval == False %}
                    Rejected
                {% elif travel.supervisor_approval == None %}
                    No decision yet
                {% endif %}</td>
                <td><a href="/booking_details_employee/{{ travel.id }}/" class="btn btn-info " role="button">Info</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}