{% extends 'index_employee.html' %}

{% block body_employee %}
        {% load static%}
    <!DOCTYPE html>
    <html lang="en">


    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->


    </head>
    <body>
        <!-- Page Content -->

        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Your travels plan</h3>
                            <p class="lead">Review, comment and approve your travel plans </p>
                        </div>
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Personal information</h3>
                            <p class="lead">Update your profile if any changes</p>
                        </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Messages</h3>
                            <p class="lead">Receive automatic email notification regarding upcoming travels</p>
                        </div>
                    </div>
                    <!-- Slide Four - Set the background image for this slide in the line below -->
                    <div class="carousel-item blackwhite" style="background-image: url('/static/images/it-5.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Online access</h3>
                            <p class="lead">Access your account 24/7</p>
                        </div>
                    </div>
                    <!-- Slide Five - Set the background image for this slide in the line below -->
                    <div class="carousel-item blackwhite" style="background-image: url('/static/images/it-4.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-4">Technologies</h3>
                            <p class="lead">Postgres | Django | Bootstrap | JQuery</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>

        <!-- Page Content -->
        <section class="py-5">
            <div class="container">
                <h3 class="font-weight-light">Use side menu to access your options</h3>
                <p class="lead">Login to your account first:)</p>
            </div>
        </section>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>

    </html>




{% endblock %}