{% extends "trips.html" %}
{% block hotel_booking %}   <br><br>

    <h2>List of all hotel bookings </h2><br>
        <table class="table table-bordered table-sm table-striped m-10px table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Booking summary id</td>
            <td>Hotel name</td>
            <td>Check in</td>
            <td>Check out</td>
            <td>Info</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        {% for hotel_booking in hotel_bookings %}
            <tr>
                <td>{{ hotel_booking.id }}</td>
                <td>{{ hotel_booking.travel_booking_summary }}</td>
                <td>{{ hotel_booking.hotel }}</td>
                <td>{{ hotel_booking.check_in }}</td>
                <td>{{ hotel_booking.check_out }}</td>
                <td><a href="/ticket_details/{{ hotel_booking.id }}/" class="btn btn-info" role="button">Info</a></td>
                <td><a href="/edit_ticket/{{ hotel_booking.id }}/" class="btn btn-warning" role="button">Update</a></td>
                <td><a href="/ticket_delete/{{ hotel_booking.id }}/" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if hotel_bookings.has_other_pages %}
        <ul class="pagination">
            {% if hotel_bookings.has_previous %}
                <a href="?page=1">&laquo; First page &emsp;</a>
                <a href="?page={{ hotel_bookings.previous_page_number }}">Previous &emsp;</a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            <span class="current">
                Page {{ hotel_bookings.number }} of {{ hotel_bookings.paginator.num_pages }}&emsp;
                </span>
            {% if hotel_bookings.has_next %}
                <a href="?page={{ hotel_bookings.next_page_number }}"> Next &emsp;</a>
                <a href="?page={{ hotel_bookings.paginator.num_pages }}">Last page &raquo;</a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}