{% extends '/home/pawel/Kurs_Python/Team_travels_planner/travel_planner_app/templates/base.html' %}
{% block body %}

    <h2>See available options</h2><br>
    <li><a href='/add_user/'>Add new user</a></li><br>
    <li><a href='/add_employee/'>Add new employee</a></li><br>
    <li><a href='/add_country/'>Add new country</a></li><br>
    <li><a href='/add_city/'>Add new city</a></li><br>
    <li><a href='/add_airport/'>Add new airport</a></li><br>
    <li><a href='/add_visa/'>Add new visa information</a></li><br>
    <br><br>
{% endblock %}