{% extends 'base.html' %}
{% block body %}

    <h2>List of upcoming travels (table to be inserted here)</h2>
    <h2>List of reservations in progress (table to be inserted here)</h2><br><br>

    <h2>Manage current and future reservations</h2>
    <ul>
        <h3><a href='/manage_trips/'><input type="submit" value="Manage trips"/></a></h3>
        <h3><a href='/manage_employees/'><input type="submit" value="Manage employees and users"/></a></h3>
        <h3><a href='/manage_locations/'><input type="submit" value="Manage locations"/></a></h3>
    </ul>


{% endblock %}