{% extends 'index.html' %}
{% load mathfilters %}
{% block body %}

    <h2>Summary of costs associated to travels</h2><br>

    <table id="current_table" class="table table-bordered table-sm table-striped m-10px table-hover">
        <tr>
            <th onclick="sortTable(0)">Travel Id</th>
            <th onclick="sortTable(1)">Date</th>
            <th onclick="sortTable(2)">Employee</th>
            <th onclick="sortTable(3)">Ticket cost</th>
            <th onclick="sortTable(4)">Hotel cost</th>
            <th onclick="sortTable(5)">Visa cost</th>
            <th onclick="sortTable(6)">Total cost</th>
        </tr>

        {% for row in cost_summary_view %}
            <tr>
                <td>{{ row.booking_id }}</td>
                <td>{{ row.travel_date }}</td>
                <td>{{ row.employee_name }}</td>
                <td>{{ row.visa_cost }}</td>
                <td>{{ row.ticket_price }}</td>
                <td>{{ row.hotel_cost }}</td>
                <td>{{ row.total_travel_cost }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}